<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 管理员 iframe 框</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
</head>
<body>

<div class="layui-form" lay-filter="layuiadmin-form-admin" id="layuiadmin-form-admin" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label"><i style="color: #cc0000">*</i>权限名称</label>
        <div class="layui-input-inline">
            <input type="text" name="name" lay-verify="required" placeholder="请输入权限名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><i style="color: #cc0000">*</i>权限别名</label>
        <div class="layui-input-inline">
            <input type="text" name="slug" lay-verify="required" placeholder="请输入角色别名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">请求方式</label>
        <div class="layui-input-block">
            <input type="checkbox" name="http_method" title="POST" value="POST">
            <input type="checkbox" name="http_method" title="GET" checked="" value="GET">
            <input type="checkbox" name="http_method" title="PUT" value="PUT">
            <input type="checkbox" name="http_method" title="DELETE" value="DELETE">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">请求路径</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" class="layui-textarea" name="http_path"></textarea>
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="hidden" name="id" value="">
        <input type="button" lay-submit lay-filter="LAY-submit" id="LAY-submit" value="确认">
    </div>
</div>

<script src="../../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form'], function(){
        var $ = layui.$
            ,form = layui.form

        form.render();
    })
</script>
</body>
</html>